<!-- ***. Сделать форму для добавления товара в репозиторий и логику работы этой формы; -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Smartkt</title>
    </head>
    <body>
        <div>
            <h2>Управление товарами : [[${actionType}]]</h2>
            <!-- ссылки на страницу добавления товара (post-запросом на ней) и на сам товар -->
            <form th:action="@{/AddProduct}" method="post" th:object="${product}">
                <table>
                    <tr>
                        <!-- TODO: артикул нового товара
                              1. если он не имеет какую-то сложную форму, а является числом,
                                 должен задаваться не оператором, а определяться каким-либо методом,
                                 возвращающим первый свободный идентификатор (номер)
                              2. не может совпадать с уже занятыми имеющимися товарами
                        -->
                        <td><label>Id:</label></td>
                        <td><input class="req" type="text" th:field="*{id}" required></td>
                    </tr>
                    <tr>
                        <!-- TODO: название нового товара не может совпадать
                              с уже занятыми имеющимися товарами
                        -->
                        <td><label>Название:</label></td>
                        <td><input class="req" type="text" th:field="*{title}" required minlength="3"></td>
                    </tr>
                    <tr>
                        <td><label>Цена:</label></td>
                        <td><input class="req" type="number" min="0" th:field="*{cost}" required></td>
                    </tr>
                </table>
                <!-- TODO: кнопка должна становиться доступной
                           только при безошибочном заполнении всех полей формы
                -->
                <button type="submit">Добавить</button><!--disabled="disabled"-->
            </form>
        </div>
    </body>
</html>