/* table, th, td { border: 1px solid black; }
   th, td { padding: 10px; }*/
.group_flt_new_crt {
    display: flex;
    justify-content: space-between;
}

.group_flt_new_crt_member {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.login_group {
    margin-left: 10px;
}